<div th:fragment="mainHeader">
	<!-- Navigation -->
	<nav
		class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg "
		color-on-scroll="100" id="sectionsNav">
		<div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" th:href="@{/}" th:text="${appName}"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse"id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item" data-toggle="tooltip" title="What's best for you"><a class="nav-link"
						th:href="@{/opportunities}"> <i class="material-icons">work</i>
							Jobs
					</a></li>
					<li class="nav-item" data-toggle="tooltip" title="Connecting million people"><a class="nav-link"
						th:href="people"> <i class="material-icons">supervisor_account</i>
							People
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{#}"
						target="_blank"> <i class="fa fa-twitter"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{#}"
						target="_blank"> <i class="fa fa-facebook-square"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{#}"
						target="_blank"> <i class="fa fa-instagram"></i>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>