<!-- SEARCH BAR -->

<span class="desc">Advanced Search</span>
<div class="row">
	<div class="input-field">
		<div class="input-select">
			<select data-trigger="" name="remote">
				<option placeholder="" value="">REMOTE</option>
				<th:block th:each="item : ${peopleAggregate.aggregators.remoter}">
					<option th:text="${item.value}"></option>
				</th:block>
			</select>
		</div>
	</div>
	<div class="input-field">
		<div class="input-select">
			<select data-trigger="" name="opento">
				<option placeholder="" value="">OPEN TO</option>
				<th:block th:each="item : ${peopleAggregate.aggregators.opento}">
					<option th:text="${item.value}"></option>
				</th:block>
			</select>
		</div>
	</div>
	<div class="input-field">
		<div class="input-select">
			<select data-trigger="" name="skill">
				<option placeholder="" value="">SKILL</option>
				<th:block th:each="item : ${peopleAggregate.aggregators.skill}">
					<option th:text="${item.value} + ' (' + ${item.total} + '+)'"></option>
				</th:block>
			</select>
		</div>
	</div>
</div>
<div class="row second">
	<div class="input-field">
		<div class="input-select">
			<select data-trigger="" name="compensation">
				<option placeholder="" value="">COMPENSATION</option>
				<th:block
					th:each="item : ${peopleAggregate.aggregators.compensationrange}">
					<option th:text="${item.value}"></option>
				</th:block>
			</select>
		</div>
	</div>
</div>
<div class="row third">
	<div class="input-field">
		<button class="btn-search">Search</button>
		<button class="btn-delete" id="delete">Reset</button>
	</div>
</div>


<!-- SCRIPTS -->
<div th:fragment="scriptReloadSearchBox">
	<script th:inline="javascript">
		const customSelects = document.querySelectorAll("select");
		const deleteBtn = document.getElementById('delete');
		const choices = new Choices('select', {
			searchEnabled : false,
			removeItemButton : true,
			itemSelectText : '',
		});
		for (let i = 0; i < customSelects.length; i++) {
			customSelects[i].addEventListener('addItem', function(event) {
				if (event.detail.value) {
					let parent = this.parentNode.parentNode
					parent.classList.add('valid')
					parent.classList.remove('invalid')
				} else {
					let parent = this.parentNode.parentNode
					parent.classList.add('invalid')
					parent.classList.remove('valid')
				}
			}, false);
		}
		deleteBtn.addEventListener("click", function(e) {
			e.preventDefault()
			const deleteAll = document.querySelectorAll('.choices__button')
			for (let i = 0; i < deleteAll.length; i++) {
				deleteAll[i].click();
			}
		});
	</script>
</div>

