<div class="container">
	<div class="row">
		<th:block th:each="item,iterStat : ${people.results}"
			th:if="${iterStat.count <= 10}">
			<div class="col-md-4 mt-4 d-flex justify-content-center">
				<div class="card profile-card-1">
					<img th:src="${item.picture}"
						alt="profile-image" class="profile" />
					<div class="card-content">
						<a th:href="@{/genome/} + ${item.username}" target="blank">
							<h2>
								<th:block th:text="${item.name}"></th:block>
								<small th:text="${item.locationName}"></small> 
								<th:block th:switch="${item.remoter}">
									<small th:case="${true}"><i class="material-icons">connect_without_contact</i> Remote</small>
									<small th:case="${false}"><i class="material-icons">apartment</i>Office</small>
								</th:block>
								<div class="skills">
									<th:block th:each="skill,iterStat : ${item.skills}"
										th:if="${iterStat.count <= 10}">
										<div class="skill-block" th:text="${skill.name}"></div>
									</th:block>
								</div>
							</h2>
						</a>
						<div class="card-button">
							<div class="input-field">
								<button class="btn-search" th:onclick="javascript:onClickViewOppById([[${item.username}]])">View</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</div>